.category_item {
    position: relative;
    height: 350px;
}
.category_item img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 37, 37, 0.56);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-out;
}
.overlay:hover {
    background-color: rgba(37, 37, 37, 0.76);
}
.overlay:hover h3{
    scale: 1.2;
}
.overlay h3 {
    color: #fff;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 32.5px */
    letter-spacing: 0.75px;
    transition: scale 0.3s ease-out;
}