.footer {
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 150px;
}
.map {
    width: 100%;
    height: 450px;
    border: none;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 47px;
    padding: 0 50px;
}
.contact {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact h2 {
    color: #2D2D2D;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
}
.tel {
    color: #2D2D2D;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 91px */
}
.social_media_container {
    display: flex;
    gap: 48px;
}
.social_media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.social_media h3 {
    color: #2D2D2D;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 19.5px */
}
.address {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.address h2 {
    color: #2D2D2D;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
}
.address_link {
    color: #2D2D2D;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
}
.line1 {
    border-bottom: 2px solid #2D2D2D;
}
.line2 {
    border-bottom: 2px solid #2D2D2D;
}
.working_hours {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.working_hours h3 {
    color: #2D2D2D;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 23.4px */
}
.working_hours p {
    color: #2D2D2D;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 31.2px */
}
@media (max-width: 1240px) {
    .contact {
        gap: 20px;
    }
    .contact h2 {
        font-size: 30px;
    }
    .tel {
        font-size: 50px;
    }
    .social_media_container {
        gap: 25px;
    }
    .address {
        gap: 20px;
    }
    .address h2 {
        font-size: 30px;
    }
    .address_link {
        font-size: 30px;
    }
    .line1 {
        border-bottom: 1px solid #2D2D2D;
    }
    .line2 {
        border-bottom: 1px solid #2D2D2D;
    }
    .working_hours p {
        font-size: 20px;
    }
}
@media (max-width: 920px) {
    .contact h2 {
        font-size: 25px;
    }
    .tel {
        font-size: 30px;
    }
    .social_media_container {
        gap: 25px;
    }
    .social_media h3{
        font-size: 13px;
    }
    .social_media svg{
        width: 40px;
    }
    .address h2 {
        font-size: 25px;
    }
    .address_link {
        font-size: 25px;
    }
    .working_hours h3 {
        font-size: 15px;
    }
    .working_hours p {
        font-size: 18px;
    }
}
@media (max-width: 720px) {
    .container {
        flex-direction: column;
        gap: 60px;
        padding: 0 20px;
    }
    .contact {
        align-items: center;
    }
    .contact h2 {
        font-size: 35px;
    }
    .address {
        align-items: center;
    }
    .address h2 {
        font-size: 35px;
    }
    .address_link {
        text-align: center;
        font-size: 23px;
    }
}